In [41]:
# import dependencies
import pandas as pd
import numpy as np

In [42]:
# load data into a dataframe
df = pd.read_csv('Data/NYPD_Arrests_Data__Historic_.csv')
pd.set_option('display.max_columns', None)
df.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,159838726,01/01/2017,115.0,RECKLESS ENDANGERMENT 2,355.0,OFFENSES AGAINST THE PERSON,PL 1202000,M,M,14,0,18-24,M,WHITE,988912.0,212647.0,40.750350,-73.983175,POINT (-73.98317545899994 40.750350440000034),12080.0,11.0,4.0,51.0,8.0
1,159824786,01/01/2017,101.0,ASSAULT 3,344.0,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,18,0,25-44,M,WHITE,992043.0,217246.0,40.762971,-73.971870,POINT (-73.97186979099996 40.76297132000008),12419.0,11.0,4.0,51.0,10.0
2,159840237,01/01/2017,729.0,"FORGERY,ETC.,UNCLASSIFIED-FELONY",113.0,FORGERY,PL 1702500,F,B,40,0,25-44,M,WHITE HISPANIC,1006669.0,233631.0,40.807919,-73.919017,POINT (-73.91901728199997 40.80791877300004),10932.0,49.0,5.0,35.0,23.0
3,159828861,01/01/2017,744.0,BAIL JUMPING 3,359.0,OFFENSES AGAINST PUBLIC ADMINISTRATION,PL 2155500,M,K,67,0,25-44,M,BLACK,1009039.0,176368.0,40.650740,-73.910667,POINT (-73.91066707899995 40.650739599000076),13827.0,61.0,2.0,25.0,40.0
4,159834533,01/01/2017,203.0,"TRESPASS 3, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 1401000,M,K,60,0,18-24,M,BLACK,986229.0,148311.0,40.573763,-73.992878,POINT (-73.99287775699997 40.573763375000055),18184.0,21.0,2.0,45.0,35.0

In [43]:
# check for null values
df.isna().sum()

ARREST_KEY                   0
ARREST_DATE                  0
PD_CD                      162
PD_DESC                   2031
KY_CD                     2031
OFNS_DESC                 2031
LAW_CODE                    45
LAW_CAT_CD                7411
ARREST_BORO                  0
ARREST_PRECINCT              0
JURISDICTION_CODE            0
AGE_GROUP                    0
PERP_SEX                     0
PERP_RACE                    0
X_COORD_CD                   0
Y_COORD_CD                   0
Latitude                     0
Longitude                    0
Lon_Lat                      0
Zip Codes                 2568
Community Districts        161
Borough Boundaries         164
City Council Districts     161
Police Precincts           162
dtype: int64

In [44]:
# drop null values 
df.dropna(inplace=True)
df.isna().sum()

ARREST_KEY                0
ARREST_DATE               0
PD_CD                     0
PD_DESC                   0
KY_CD                     0
OFNS_DESC                 0
LAW_CODE                  0
LAW_CAT_CD                0
ARREST_BORO               0
ARREST_PRECINCT           0
JURISDICTION_CODE         0
AGE_GROUP                 0
PERP_SEX                  0
PERP_RACE                 0
X_COORD_CD                0
Y_COORD_CD                0
Latitude                  0
Longitude                 0
Lon_Lat                   0
Zip Codes                 0
Community Districts       0
Borough Boundaries        0
City Council Districts    0
Police Precincts          0
dtype: int64

In [45]:
# inspect the data types
df.dtypes

ARREST_KEY                  int64
ARREST_DATE                object
PD_CD                     float64
PD_DESC                    object
KY_CD                     float64
OFNS_DESC                  object
LAW_CODE                   object
LAW_CAT_CD                 object
ARREST_BORO                object
ARREST_PRECINCT             int64
JURISDICTION_CODE           int64
AGE_GROUP                  object
PERP_SEX                   object
PERP_RACE                  object
X_COORD_CD                float64
Y_COORD_CD                float64
Latitude                  float64
Longitude                 float64
Lon_Lat                    object
Zip Codes                 float64
Community Districts       float64
Borough Boundaries        float64
City Council Districts    float64
Police Precincts          float64
dtype: object

In [46]:
# change data types of columns
df['ARREST_DATE'] = pd.to_datetime(df['ARREST_DATE'], format="%m/%d/%Y")
df = df.astype({'PD_CD': int, 'KY_CD': int, 'Zip Codes': int, 'Community Districts': int, 
                'Borough Boundaries': int, 'City Council Districts': int, 'Police Precincts': int})

In [47]:
df.dtypes

ARREST_KEY                         int64
ARREST_DATE               datetime64[ns]
PD_CD                              int32
PD_DESC                           object
KY_CD                              int32
OFNS_DESC                         object
LAW_CODE                          object
LAW_CAT_CD                        object
ARREST_BORO                       object
ARREST_PRECINCT                    int64
JURISDICTION_CODE                  int64
AGE_GROUP                         object
PERP_SEX                          object
PERP_RACE                         object
X_COORD_CD                       float64
Y_COORD_CD                       float64
Latitude                         float64
Longitude                        float64
Lon_Lat                           object
Zip Codes                          int32
Community Districts                int32
Borough Boundaries                 int32
City Council Districts             int32
Police Precincts                   int32
dtype: object

In [48]:
# add day, month, and year columns using the dt accessor
df['day'] = df['ARREST_DATE'].dt.day
df['month'] = df['ARREST_DATE'].dt.month
df['year'] = df['ARREST_DATE'].dt.year
df.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lon_Lat,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts,day,month,year
0,159838726,2017-01-01,115,RECKLESS ENDANGERMENT 2,355,OFFENSES AGAINST THE PERSON,PL 1202000,M,M,14,0,18-24,M,WHITE,988912.0,212647.0,40.750350,-73.983175,POINT (-73.98317545899994 40.750350440000034),12080,11,4,51,8,1,1,2017
1,159824786,2017-01-01,101,ASSAULT 3,344,ASSAULT 3 & RELATED OFFENSES,PL 1200001,M,M,18,0,25-44,M,WHITE,992043.0,217246.0,40.762971,-73.971870,POINT (-73.97186979099996 40.76297132000008),12419,11,4,51,10,1,1,2017
2,159840237,2017-01-01,729,"FORGERY,ETC.,UNCLASSIFIED-FELONY",113,FORGERY,PL 1702500,F,B,40,0,25-44,M,WHITE HISPANIC,1006669.0,233631.0,40.807919,-73.919017,POINT (-73.91901728199997 40.80791877300004),10932,49,5,35,23,1,1,2017
3,159828861,2017-01-01,744,BAIL JUMPING 3,359,OFFENSES AGAINST PUBLIC ADMINISTRATION,PL 2155500,M,K,67,0,25-44,M,BLACK,1009039.0,176368.0,40.650740,-73.910667,POINT (-73.91066707899995 40.650739599000076),13827,61,2,25,40,1,1,2017
4,159834533,2017-01-01,203,"TRESPASS 3, CRIMINAL",352,CRIMINAL TRESPASS,PL 1401000,M,K,60,0,18-24,M,BLACK,986229.0,148311.0,40.573763,-73.992878,POINT (-73.99287775699997 40.573763375000055),18184,21,2,45,35,1,1,2017

In [49]:
# create new df with the columns that will be most important for this analysis
arrests = ['ARREST_KEY', 'ARREST_DATE', 'day', 'month', 'year', 'PD_DESC', 'OFNS_DESC', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT', 
           'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'Latitude', 'Longitude', 'Lon_Lat']
arrests_df = df[arrests]
arrests_df.head()

,ARREST_KEY,ARREST_DATE,day,month,year,PD_DESC,OFNS_DESC,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude,Lon_Lat
0,159838726,2017-01-01,1,1,2017,RECKLESS ENDANGERMENT 2,OFFENSES AGAINST THE PERSON,M,M,14,0,18-24,M,WHITE,40.750350,-73.983175,POINT (-73.98317545899994 40.750350440000034)
1,159824786,2017-01-01,1,1,2017,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES,M,M,18,0,25-44,M,WHITE,40.762971,-73.971870,POINT (-73.97186979099996 40.76297132000008)
2,159840237,2017-01-01,1,1,2017,"FORGERY,ETC.,UNCLASSIFIED-FELONY",FORGERY,F,B,40,0,25-44,M,WHITE HISPANIC,40.807919,-73.919017,POINT (-73.91901728199997 40.80791877300004)
3,159828861,2017-01-01,1,1,2017,BAIL JUMPING 3,OFFENSES AGAINST PUBLIC ADMINISTRATION,M,K,67,0,25-44,M,BLACK,40.650740,-73.910667,POINT (-73.91066707899995 40.650739599000076)
4,159834533,2017-01-01,1,1,2017,"TRESPASS 3, CRIMINAL",CRIMINAL TRESPASS,M,K,60,0,18-24,M,BLACK,40.573763,-73.992878,POINT (-73.99287775699997 40.573763375000055)

In [50]:
# add the other columns into a reference df incase we need this data at some point
refs = ['ARREST_KEY', 'KY_CD', 'LAW_CODE', 'X_COORD_CD', 'Y_COORD_CD', 'Zip Codes', 
        'Community Districts', 'Borough Boundaries', 'City Council Districts', 'Police Precincts']
refs_df = df[refs]
refs_df.head()

,ARREST_KEY,KY_CD,LAW_CODE,X_COORD_CD,Y_COORD_CD,Zip Codes,Community Districts,Borough Boundaries,City Council Districts,Police Precincts
0,159838726,355,PL 1202000,988912.0,212647.0,12080,11,4,51,8
1,159824786,344,PL 1200001,992043.0,217246.0,12419,11,4,51,10
2,159840237,113,PL 1702500,1006669.0,233631.0,10932,49,5,35,23
3,159828861,359,PL 2155500,1009039.0,176368.0,13827,61,2,25,40
4,159834533,352,PL 1401000,986229.0,148311.0,18184,21,2,45,35

In [51]:
# export the new dfs into csv files
arrests_df.to_csv('Data/NYPD_Arrests_Data_cleaned.csv', index=False)
refs_df.to_csv('Data/Reference_Data.csv', index=False)